.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 94.45vh;
}

.about-body {
  margin-top: 2%;
  margin-bottom: 3%;
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    font-size: 30px;
  }
  color: 'white';
}

.aboutHeader {
  font-family: 'sans-serif';
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  margin: 15px 0;
}

.developmentTeam {
  font-family: 'sans-serif';
  font-weight: bold;
}

.devRow {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.devName {
  font-weight: bold;
}

.aboutWorldfm {
  display: flex;
  flex-direction: column;
}

.aboutSection {
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.worldfmDesc {
  font-size: 14px;
  width: 60vw;
  height: 100vh;
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    width: 100%;
  }
}

.Developer {
  text-align: center;
}

.profilePicture {
  width: 100px;
  height: auto;
}

.gitIcon {
  width: 20px;
}

.linkedIcon {
  width: 23px;
}

.footer {
  display: flex;
  bottom: 0;
  position: relative;
  height: 45px;
}

.footer-content {
    width: 100vw;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    text-align: center;
    background-color: 'black';
    color: #fff;
}

.github-link {
  color: 'green';
}
/* PULSE */
.down {
  display: flex;
  flex-direction: column;
  color: 'black';
  justify-content: center;
  margin-top: 10%;
  padding-bottom: 3vh;
  z-index: 1;
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 30px;
  }
}

.fa-chevron-down {
  color: 'white';
}

.downBtn:focus {
    outline: none !important;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}
