.water {
  fill: rgba(10,10,10,1)
}
.land {
  fill: #ccc;
  stroke: rgba(0,0,0,0.75);
  stroke-width: 0.7px;
}
.available {
  fill: rgb(30, 215, 96);
}
.available:hover {
  fill: #3c763d;
  stroke-width: 1px;
}
.focused {
  fill: rgb(30, 215, 96);
}
.globeSelect {
  margin-top: 60px;
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  display: none;
}
.countryTooltip {
  position: absolute !important;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
.globeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    z-index: 3;
  }
}

.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

canvas {
  top: 0px;
  left: 0px;
  position: absolute;
  background-image: url('https://preview.ibb.co/daJ0YF/Artboard.png');
}

i.icon.fa.fa-chevron-down.faa-pulse.animated {
  font-size: 40px;
  position: absolute;
  bottom: 100px;
  color: $mainfontColor;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.faa-pulse.animated.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.faa-pulse.animated.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow {
  -webkit-animation: pulse 3s linear infinite;
  animation: pulse 3s linear infinite;
}
