/* Globe syles */
.water {
  /*fill: rgba(50,167,224,0.4);*/
  fill: rgba(10,10,10,1)
}
.land {
  fill: #ccc;
  stroke: rgba(0,0,0,0.75);
  stroke-width: 0.7px;
}
.available {
  /*fill: #3c763d;*/
  fill: rgb(30, 215, 96);
}
.available:hover {
  fill: #3c763d;
  stroke-width: 1px;
}
.focused {
  fill: rgb(30, 215, 96);
}
.globeSelect {
  margin-top: 60px;
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  display: none;
}
div.countryTooltip {
  position: absolute !important;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
.globeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    z-index: 3;
  }
}

.page-container {
  height: 100vh;
  width: 100vw;
}

canvas {
  top: 0px;
  left: 0px;
  position: absolute;
  // background: radial-gradient(circle, #313131, $mainColor, $mainColor, $mainColor);
}

#particles-js {
  display: block;
  vertical-align: bottom;
  width: 100vw;
  min-height: 100vh;
}

#particles-js .particles-js-canvas-el {
  background-position: center;
  background-size: cover;
  width: 100vw!important;
  height: 100vh!important;
  z-index: -1;
}
