.Lightbox {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $blackGlassDark;
  z-index: 100;
}

.Lightbox__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14pt;
  color: $mainfontColor;
}

.Lightbox__contentArtButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Lightbox__contentFullAlbumArt {
  max-width: 640px;
  max-height: 640px;
  z-index: 80;
}

.Lightbox__contentAlbumInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  span {
    margin-top: 1px;
  }
}

.Lightbox__contentFullAlbumArtButtons {
  display: flex;
}

.Lightbox__contentHover {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  z-index: 81;
  i {
    opacity: 0.5;
  }
  i:hover {
    opacity: 1;
  }
  i:active {
    color: $spotifyGreen;
  }
}

.Lightbox__contentHover:hover {
  opacity: 1;
}

.Lightbox__contentHoverButtons {
  background: $blackGlassLight;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
