.Menu--dropdown {
  background-color: #171717;
  margin-right: 40px;
}

.Menu--login,
.Menu--toggle,
.SpotifyPlaylist--toggle,
.CountryMenu--toggle {
  align-items: flex-start;
  color: white;
  cursor: pointer;
  font-size: 18pt;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  margin-left: 20px;
}

.Menu--login:hover,
.Menu--toggle:hover,
.SpotifyPlaylist--toggle:hover,
.CountryMenu--toggle:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.Menu--login:active,
.Menu--toggle:active,
.SpotifyPlaylist--toggle:active,
.CountryMenu--toggle:active {
  opacity: 1;
  color: $spotifyGreen;
}
