@media (max-width: 580px) {
  //Top Menu
  .FavoritesMenu {
    width: 100%;
  }
  .Menu--logo {
    display: none;
  }
  .TopMenu {
    justify-content: center;
  }

  //Player
  .CurrentSongInfo {
    display: none;
  }
  .CurrentSongPic {
    bottom: 9px;
    position: absolute;
    right: 9px;
  }
  .Device__selector {
    bottom: 63px;
    left: -8px;
  }
  .Player {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .PlayerControls {
    margin-left: 0;
    position: absolute;
  }
  .Player__CurrentSongTime {
    display: none;
  }
  .Player__extraButtons {
    align-items: center;
    bottom: 10px;
    display: flex;
    justify-content: center;
    left: 10px;
    position: absolute;
  }
  .Player__leftPortion {
    margin-left: 0px;
    width: 130px;
  }
  .Player__volume {
    display: none;
  }

  //Side Menu
  // .Hamburger--icon {
  //   display: block;
  // }
  // .SideMenu {
  //   display: flex;
  // }
}
