@media (max-width: 765px)  {
  .Player__extraButtons {
    display: none;
  }
  .Player__extraButtonsMobileToggle {
    display: block;
    right: 0px;
    bottom: 17px;
    position: fixed;
    opacity: 0.6;
  }
  .Player__extraButtonsMobile {
    display: flex;
  }
}

@media (max-width: 580px) {
  //Top Menu
  .FavoritesMenu {
    width: 100%;
  }
  .Menu--logo {
    display: none;
  }
  .TopMenu {
    justify-content: center;
  }
  .TopMenu__icon {
    margin-left: 6px;
  }
  .TopMenu__dropdownOptions {
    border: none;
    margin-left: 6px;
  }
  .TopMenu--CountryDropdown,
  .TopMenu--GenreDropdown {
    min-width: 170px;
    max-width: 170px;
  }
  .Select-menu-outer {
    width: 159px;
  }

  //Player
  .CurrentSongInfo {
    display: none;
  }
  // .Player__volume {
  //   display: none;
  // }

  //Side Menu
  // .Hamburger--icon {
  //   display: block;
  // }
  // .SideMenu {
  //   display: flex;
  // }
}

@media (max-width: 380px) {
  .TopMenu__dropdownOptions {
    border: none;
    margin-left: 0px;
    }
  .Player__extraButtonsMobileContent {
    padding: 41px;
    font-size: 12px;
  }
  .Player__volume {
    margin-right: 2px;
  }
}

@media (max-width: 325px) {

}
