.Player {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  border: 20px;
  bottom: 0px;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PlayerControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    margin-left: 40px;
}

.PlayerControlsPlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}

.PlayerControls {
  input {
    width: 60px;
  }
}

.Player__volume {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-around;
}

// .fa-step-backwards,
// .fa-play,
// .fa-step-forward {
//   margin-left: 0px;
// }

.fa-step-backwards:hover,
.fa-play:hover,
.fa-step-forward:hover,
.fa-random:hover  {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.fa-step-backward:active,
.fa-play:active,
.fa-step-forward:active,
.fa-random:active{
  opacity: 1;
  color: rgb(30, 215, 96);
}

// .RandomButton {
//   margin-left: 40px;
// }

.CurrentSong {
  min-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 50px;
}

.CurrentSongInfo {
  font-family: 'Permanent Marker', cursive;
  margin: 4px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CurrentSongPic {

}

.Player__seeker {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Player__seeker__input {
  min-width: 250px;
  margin: 0 10px;
}
