.Player {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  border: 20px;
  bottom: 0px;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PlayerControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    margin-left: 40px;
    margin-right: 40px;
}

.PlayerControlsPlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}

.PlayerControls {
  input {
    width: 60px;
  }
}

.fa-step-backwards:hover,
.fa-play:hover,
.fa-step-forward:hover,
.fa-random:hover  {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.fa-step-backward:active,
.fa-play:active,
.fa-step-forward:active,
.fa-random:active{
  opacity: 1;
  color: rgb(30, 215, 96);
}

.Player__volume {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-around;
}

.CurrentSong {
  min-width: 220px;
  max-height: 42px;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-left: 20px;
  justify-content: space-between;
}

.CurrentSongInfo {
  font-family: 'Permanent Marker', cursive;
  margin: 4px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // overflow-x: hidden;
  // overflow-y: hidden;
  // white-space: nowrap;
}

.CurrentSongPic {

}

.Player__seeker {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
}

.Player__seeker__input {
  min-width: 250px;
  margin: 0 10px;
}

.Player__volumeGauge {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  height: 40px;
  width: 100px;
  position: absolute;
  left: 108px;
  bottom: 94px;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
}

.Player__extras {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 110px;
}

.Player__devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 8pt;
    opacity: 0.6;
  }
  i {
    font-size: 18pt;
  }
}

.Device--Selector {
  height: 140px;
  width: 110px;
  position: absolute;
  left: 155px;
  bottom: 64px;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.QueueMenu--toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
    span {
      font-size: 8pt;
      opacity: 0.6;
    }
    i {
      font-size: 16pt;
    }
}

.Player__likeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
