.Player {
  @include bg-gradient();
  align-items: center;
  border: 20px;
  bottom: 0px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: rgb(230, 230, 230);
  display: flex;
  height: 65px;
  justify-content: center;
  position: fixed;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  z-index: 15;
}

.CurrentSong {
  min-width: 300px;
  max-width: 300px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 30px;
  bottom: 5px;
  img {
    margin-left: 10px;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
}

.CurrentSongInfo {
  margin-left: 15px;
  max-width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.CurrentSongName,
.CurrentSongArtist {
  cursor: default;
  user-select: none;
  padding-right: 10px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.CurrentSongName {
  font-weight: bold;
  color: $spotifyGreen;
}

.Player__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 100%;
  i {
    cursor: pointer;
  }
  i:hover {
    opacity: 0.75;
  }
  i:active {
    color: $spotifyGreen;
    opacity: 1;
  }
}

.Player__CurrentSongTime {
  user-select: none;
  cursor: default;
}

.Player__extraButtons {
  color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  opacity: 0.75;
  right: 25px;
  position: fixed;
  width: 245px;
}

.Player__extraButtons__button {
  color: rgb(230, 230, 230);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  i {
    font-size: 20px;
  }
  span {
    font-size: 10px;
  }
}

.Player__extraButtons__button:hover {
  opacity: 0.75;
}

.Player__extraButtons__button:active {
  color: $spotifyGreen;
}

.Player__extraButtons__button--disabled {
  cursor: default;
  opacity: 0.25;
}

.Player__extraButtons__button--disabled:hover {
  cursor: default;
  opacity: 0.25;
}

.Player__seeker {
  bottom: 63px;
  left: 0px;
  position: absolute;
  width: 100%;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      cursor: pointer;
      overflow: hidden;
      height: 8px;
      -webkit-appearance: none;
      background-color: $blackGlass;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      background: #434343;
      box-shadow: -1000px 0 0 1000px $spotifyGreen;
    }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: $spotifyGreen;
}
input[type="range"]::-moz-range-track {
  background-color: $blackGlass;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: $spotifyGreen;
}
input[type="range"]::-ms-fill-upper {
  background-color: $blackGlass;
}

.Player__devicesTitle {
  user-select: none;
}

.Device__selector {
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  min-height: 152px;
  position: absolute;
  right: 0px;
  bottom: 73px;
  background-color: $blackGlass;
  display: flex;
  flex-direction: column;
}

.Device__selector__top {
  @include bg-gradient();
  user-select: none;
  width: 100%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  i {
    cursor: pointer;
  }
  i:hover {
    opacity: 0.75;
  }
  i:active {
    color: $spotifyGreen;
    opacity: 1;
  }
}

.Player__devicesDevice {
  display: flex;
  margin: 5px 0;
  padding: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  span {
    margin-left: 10px;
    user-select: none;
  }
}
.Player__devicesDevice:hover {
  opacity: 0.75;
}

.Player__VolumeAndOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    cursor: pointer;
    margin-left: 12px;
  }
  i:hover {
    opacity: 0.75;
  }
  i:active {
    color: $spotifyGreen;
    opacity: 1;
  }
}
.Player__volume {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70px;

  i {
    cursor: pointer;
    margin-right: 10px;
  }

  .Player__volumeGauge {
    input {
      width: 100%;
    }
  }
}

.Player__extraButtonsMobileToggle {
  display: none;
}
.Player__extraButtonsMobile {
  min-height: 152px;
  position: absolute;
  right: 0px;
  bottom: 73px;
  background-color: $blackGlass;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  i{
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  i:hover {
    opacity: 0.75;
  }
  i:active {
    color: $spotifyGreen;
    opacity: 1;
  }
}
.Player__extraButtonsMobileTop {
  user-select: none;
  width: 100%;
  height: 28px;
  display: flex;
  @include bg-gradient();
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: absolute;
  top: 0px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  i {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 7px;
  }
  i:hover {
    opacity: 0.75;
  }
  i:active {
    color: $spotifyGreen;
    opacity: 1;
  }
}
.Player__extraButtonsMobileContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.Player__extraButtonsMobileButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
