.QueueMenu {
  z-index: 15;
  position: fixed;
  bottom: 64px;
  right: 0%;
  width: 100%;
  height: 88px;
  color: #e6e6e6;
  background-color: rgba(0, 0, 0, 0.75);
}

.QueueMenu__topBar {
  height: 20px;
  width: 100%;
  background: linear-gradient(#171717, #1C1C1C);
  display: flex;
  align-items: center;
}

.QueueMenu__songList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  overflow: auto;
}

.QueueMenu__indivdualSong {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid $devider;
  padding-right: 12px;
  padding-left: 12px;
  width: 200px;
  img {
    margin-right: 10px;
  }
  i {
    position: relative;
  }
}

.QueueMenu__indivdualSong__songInfoAndPicture {
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
}

.QueueMenu__position {
  font-family: 'Permanent Marker', cursive;
}

.QueueMenu__indivdualSong__songInfo {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 40px;
}

.QueueMenu__SongName {

}

.QueueMenu__ArtistName {
  font-style: italic;
}
