.absclear {
  position: relative;
  width: 0;
  height: 0
}

.QueueMenu {
  z-index: 15;
  position: fixed;
  bottom: 73px;
  width: 100%;
  height: 152px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(230, 230, 230);
}

.QueueMenu__topBar {
  user-select: none;
  height: 28px;
  width: 100%;
  background-color: $bgGreyMedium;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  i {
    cursor: pointer;
  }
  i:hover {
    opacity: 0.75;
  }
  i:active {
    color: $spotifyGreen;
    opacity: 1;
  }
}

.QueueMenu__songList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 124px;
}

.QueueMenu__indivdualSong {
  // background-color: blue;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
  min-width: 78px;
  min-height: 108px;
  max-height: 108px;
  img {
    max-width: 70px;
    max-height: 70px;
  }
  i {
    cursor: pointer;
    // position: relative;
    // top: -10px;
    // left: 22px;
  }
  i:hover {
    opacity: 0.75;
  }
  i:active {
    color: $spotifyGreen;
    opacity: 1;
  }
}

.QueueMenu__indivdualSong--selected {
  background-color: $bgGreyMedium;
  img {
    border: 2px solid $spotifyGreen;
  }
}

.QueueMenu__songName--selected {
  color: $spotifyGreen;
}

.QueueMenu__indivdualSong:hover {
  background-color: $bgGreyMedium;
}

.QueueMenu__indivdualSong__songInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 78px;
    padding-left: 4px;
  }
}

.QueueMenu__songName {
  font-weight: bold;
}

.QueueMenu__hover {
  // background-color: rgba(255,0,0,.5);
  min-width: 78px;
  min-height: 108px;
  position: absolute;
  left: -39px;
  top: -104px;
  opacity: 0;
}

.QueueMenu__hover:hover {
  opacity: 1;
}

.QueueMenu__expand,
.QueueMenu__close {
  position: absolute;
  /* top: -25px; */
  /* right: 30px; */
  top: 0px;
  padding: 2.5px;

  background-color: rgba(0,0,0,0.70);
  border-radius: 2.5px;
}
.QueueMenu__close {
  left: 0px;
}

.QueueMenu__expand {
  right: 0px;
}

.QueueMenu__close:hover,
.QueueMenu__expand:hover {
  background-color: rgba(0,0,0,0.93);
}

.QueueMenu__light {
  // background-color: rgba(0,255,0,.5);
  height: 70px;
  width: 70px;
  // background: green;
  margin-top: 4px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QueueMenu__actions {
  // background-color: rgba(255,0,255,.5);
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.70);
  border-radius: 2.5px;
  padding: 5px;

  i {
    position: relative;
    top: 0px;
    left: 0px;
  }
}
