.SideMenu {
  z-index: 3;
  display: none;
  padding: 20px;
  position: fixed;
  top: 60px;
  left: 0%;
  width: 200px;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  flex-direction: column;
  align-items: flex-start;
  div {
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid $devider;
  }
}

.SideMenu--login {
  text-decoration: none;
}
