.Song {
  background-size: cover;
  box-sizing: border-box;
  color: $mainfontColor;
  border: 3px solid $mainColor;
  cursor: default;
}

.Song:hover .Song__container {
  opacity: 1;
}

.SongHover {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.50);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 3;
}

.SongHover:hover {
  opacity: 1;
}

.SongHover__play-button,
.SongHover__add-que,
.SongHover__expand,
.SongHover__add-favorites {
  opacity: 0;
  position: absolute;
}

.Song__wrapper:hover .SongHover__play-button,
.Song__wrapper:hover .SongHover__add-que,
.Song__wrapper:hover .SongHover__expand,
.Song__wrapper:hover .SongHover__add-favorites  {
  opacity: 0.6;
}

.Song__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Song__container {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  color: rgb(230, 230, 230);
  padding: 5px 10px;
  z-index: 5;
}

.Song__info {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Song__name,
.Song__artist {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}

.Song__artist {
  font-family: 'Permanent Marker', cursive;
}

.Song__ranking {
  font-family: 'Permanent Marker', cursive;
  color: $mainfontColor;
  font-size: 24px;
  min-width: 42px;
  padding-right: 15px;
}

.Song__expand {
  padding-left: 10px;
}

.Song__expand:hover {
  opacity: 0.75;
  cursor: pointer;
}

.Song__more-info {
  padding: 5px 10px;
  font-size: 16px;
  background-color: $spotifyGreen;
  z-index: 5;
}

.Song__more-info-option {
  margin-bottom: 10px;
}

.Song__more-info-option:hover {
  opacity: 0.75;
  cursor: pointer;
}

.Song__more-info-option i {
  padding-right: 10px;
}

.Song__wrapper:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.50);
  border: 3px solid $spotifyGreen;
}
