.SpotifyPlaylist {
  z-index: -20;
  width: 50vw;
  height: 70vh;
  position: fixed;
  top: 22%;
  left: 32%;
  opacity: 1;
}

.SpotifyPlaylist--clear {
  opacity: 0;
}

.Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 14;
}
