.TopMenu {
  display: flex;
  width: 300px;
  border-bottom: 1px white;
}

// width of dropdown
.TopMenu--CountryDropdown {
  width: 140px;
}

// selected value font
.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: rgb(30, 215, 96);
    font-family: 'Lato';
}

//border
.Select-control {
  border-color: #171717;
}

// selected view
.Select-value {
  // background: linear-gradient(#171717, #353535, #171717);;
  // border: none;
}

.Select-option {
	background-color: white;
	color: #171717;
	cursor: pointer;
  font-family: 'Lato';
	display: block;
	&.is-selected {
		background-color: rgb(30, 215, 96);
		color: white;
	}
	&.is-focused {
		background-color: rgb(30, 215, 96);
		color: white;
	}
}
