.TopMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $mainfontColor;
  padding-left: 40px;
  padding-right: 40px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0%;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 20;
}

.Menu--logo {
  color: $mainfontColor;
  font-family: $mainTitleFont;
  font-size: 24pt;
  margin: 0;

}

.Hamburger--icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 18px;
  margin-left: 18px;
}

.GlobeView--toggle {

}

.TopMenu__content {
  display: flex;
  align-items: center;
  border-bottom: 1px $mainfontColor;
}

.TopMenu__dropdownOptions {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 10pt;
  padding-left: 9px;
  margin-left: 7px;
  border-left: 1px solid rgba(175, 175, 175, 0.1);
}

.TopMenu--CountryDropdown,
.TopMenu--GenreDropdown {
  min-width: 200px;
  max-width: 200px;
  color: #171717;
  padding-right: 11px;
  margin-left: 6px;
}
.Select-menu-outer {
  width: 189px;
  padding: 11px;
}
// selected value font
.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: $spotifyGreen;
  font-family: 'Lato';
}
//border
.Select-control {
  border-color: #171717;
  color: $spotifyGreen;
}

.FavoritesMenu--toggle,
.GlobeView--toggle,
.TopMenu--login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  i {
    font-size: 18pt;
    margin-bottom: 2px;
    text-decoration: none;
    color: $mainfontColor;
  }
  span {
    font-size: 8pt;
    opacity: 0.6;
    text-decoration: none;
    color: $mainfontColor;
    margin-top: 2.5px;
  }
  span:hover {
    text-decoration: none;
  }
}

.TopMenu__icon {
  cursor: pointer;
  opacity: 1;
}

.TopMenu__icon:hover {
  opacity: 0.75;
}

.TopMenu__icon:active {
  color: rgb(30, 215, 96);
  opacity: 1;
}

.TopMenu--user {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.TopMenu--login {

}

.TopMenu--logout,
.TopMenu--login {
  text-decoration: none;
}

.TopMenu--logout {
  color: $mainColor;
}

.TopMenu--userMenu {
  width: 124px;
  height: 90px;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 60px;
  div {
    border-bottom: 1px solid rgba(175, 175, 175, 0.1);
    width: 100%;
    margin-bottom: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: flex-start;
  }
  i {
    margin: 6px;
  }
}
