$mainColor: #171717;
$fontColor: white;
$fontOnHoverColor: rgb(30, 215, 96);
$fontOnClickColor: rgb(30, 215, 96);

body {
  background-color: $mainColor;
}

@import "menu";
@import "globeMenu";
@import "playlist";
@import "spotifyPlaylist";
@import "countryMenu";
@import "queueMenu";
@import "sideMenu";
@import "player";
@import "mobile";
