$mainColor: #0c0c0c;
$fontColor: rgb(230, 230, 230);
$fontOnHoverColor: rgb(30, 215, 96);
$fontOnClickColor: rgb(30, 215, 96);

body {
  background-color: $mainColor;
}

@import "menu";
@import "topMenu";
@import "globeMenu";
@import "playlist";
@import "song";
@import "spotifyPlaylist";
@import "countryMenu";
@import "favoritesMenu";
@import "queueMenu";
@import "sideMenu";
@import "player";
@import "mobile";
@import "about";
