body {
  /*background-color: rgb(230, 230, 230);*/
  background-color: #171717;
  padding-top: 60px;
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  height: 60px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  padding-left: 40px;
  padding-right: 40px;
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  position: fixed;
  width: 100%;
  margin-top: -60px;
}

.Menue--DropDowns {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
}

.DropDown {
  background-color: #171717;
  margin-right: 40px;
}

.Login {
  align-items: flex-start;
  color: white;
  cursor: pointer;
  font-size: 18pt;
  text-decoration: none;
}

.Login:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.Login:active {
  opacity: 1;
  color: rgb(30, 215, 96);
}

.Playlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Song {
  background-color: black;
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 2px;
  margin-right: 2px;
  /*border: 2px solid rgb(230, 230, 230);*/
  border: 3px solid #171717;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  cursor: default;
}

.Song:hover {
  border: 3px solid rgb(30, 215, 96);
}

.Song__container {
  background-color: rgba(0, 0, 0, 0.60);
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
  color: rgb(230, 230, 230);
  padding: 5px;
}

.Song__info {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Song__name,
.Song__artist {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Song__ranking {
  color: rgb(230, 230, 230);
  font-size: 24px;
  min-width: 42px;
  padding-right: 10px;
}

.Song__expand {
  padding-left: 10px;
}

.Song__expand:hover {
  opacity: 0.75;
  cursor: pointer;
}

.SongHover {
  display: flex;
  color: rgb(230, 230, 230);
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.SongHover:hover {
  background-color: rgba(0,0,0,0.30);
  opacity: 1;
}

.SongHover__play-button:hover {
  opacity: 0.75;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
