body {
  background-color: #171717;
}

.Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 14;
}

.Desktop {
  display: block;
}

.Mobile--icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 18px;
  margin-left: 18px;
}

.Mobile--icon:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.Mobile--icon:active {
  opacity: 1;
  color: rgb(30, 215, 96);
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
    height: 60px;
    color: white;
    font-family: 'Roboto', cursive;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 40px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* position: absolute; */
    display: static;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 20;
}

.Menu--logo {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

.Menu--dropdown {
  background-color: #171717;
  margin-right: 40px;
}

.Menu--login,
.Menu--toggle,
.SpotifyPlaylist--toggle,
.CountryMenu--toggle {
  align-items: flex-start;
  color: white;
  cursor: pointer;
  font-size: 18pt;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  margin-left: 20px;
}

.Menu--login:hover,
.Menu--toggle:hover,
.SpotifyPlaylist--toggle:hover,
.CountryMenu--toggle:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.Menu--login:active,
.Menu--toggle:active,
.SpotifyPlaylist--toggle:active,
.CountryMenu--toggle:active {
  opacity: 1;
  color: rgb(30, 215, 96);
}

.SpotifyPlaylist {
  z-index: -20;
  width: 50vw;
  height: 70vh;
  position: fixed;
  top: 22%;
  left: 32%;
  opacity: 1;
}

.SpotifyPlaylist--clear {
  opacity: 0;
}

@media (max-width: 540px) {
  .Desktop {
    display: none;
  }
  .Mobile--icon {
    display: block;
  }
  .SpotifyPlaylist {
    width: 80vw;
    height: 50vh;
    top: 22%;
    left: 22%;
  }
  .Menu {
    justify-content: center;
  }
  .CurrentSongInfo {
    display: none !important;
  }
  .CurrentSongPic {
    right: 10px;
  }
  .Player {
    justify-content: center !important;
    align-items: center !important;
  }
  .RandomButton {
    position: fixed !important;
    left: -3% !important;
  }
  .PlayerControls {
    margin-left: 0 !important;
    position: absolute !important;
  }
  .CurrentSongPic {
    position: absolute !important;
    right: 9px !important;
    bottom: 9px !important;
  }
}

.CountryMenu {
  z-index: 15;
  padding: 20px;
  position: fixed;
  top: 60px;
  right: 0%;
  width: 300px;
  height: 100%;
  font-family: 'Permanent Marker', cursive;
  color: white;
  background-color: rgba(0,0,0,0.75);
}

.CountryList {
  z-index: 12;
}

.Playlist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.Song {
  background-color: #171717;
  background-size: cover;
  box-sizing: border-box;
  color: rgb(230, 230, 230);
  border: 3px solid #171717;
  cursor: default;
/*
  -webkit-transition: border 0.25s ease;
  -moz-transition: border 0.25s ease;
  -o-transition: border 0.25s ease;
  -ms-transition: border 0.25s ease;
  transition: border 0.25s ease;*/
}

.Song:hover {
  border: 3px solid rgb(30, 215, 96);
}

.Song--green-border {
  border: 3px solid rgb(30, 215, 96);
}

.SongHover {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.50);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 3;
}

.SongHover:hover {
  opacity: 1;
}

.SongHover__play-button:hover {
  opacity: 0.75;
}

.Song__wrapper {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Song__wrapper:hover {
  opacity: 1;
}

.Song__more-info-wrapper {
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;
}

.Song__more-info {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgba(30, 215, 96, 0.85);
  z-index: 5;
}

.Song__more-info-option {
  margin-bottom: 10px;
}

.Song__more-info-option:hover {
  opacity: 0.75;
  cursor: pointer;
}

.Song__more-info-option i {
  padding-right: 10px;
}

.Song__container {
  opacity; 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  color: rgb(230, 230, 230);
  padding: 5px 10px;
  z-index: 5;
}

.Song__info {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Song__name,
.Song__artist {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}

.Song__artist {
  font-family: 'Permanent Marker', cursive;
}

.Song__ranking {
  font-family: 'Permanent Marker', cursive;
  color: rgb(230, 230, 230);
  font-size: 24px;
  min-width: 42px;
  padding-right: 15px;
}

.Song__expand {
  padding-left: 10px;
}

.Song__expand:hover {
  opacity: 0.75;
  cursor: pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

<<<<<<< HEAD
/* Globe syles */
.water {
  fill: rgba(50,167,224,0.4);
  /*fill: #171717;*/
}
.land {
  fill: #FFF;
  stroke: #A98B6F;
  stroke-width: 0.7px;
}
.land:hover {
  fill: rgb(30, 215, 96);
  stroke-width: 1px;
}
.focused {
  fill: rgb(30, 215, 96);
}
.globeSelect {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}
.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
.globeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px;
=======
.Player {
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  border: 20px;
  bottom: 0px;
  height: 64px;
  position: fixed;
  width: 100%;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PlayerControls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 160px;
  margin-left: 60px;
}

.PlayerControlsPlay {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-step-backwards,
.fa-play,
.fa-step-forward {
  margin-left: 16px;
}

.fa-step-backwards:hover,
.fa-play:hover,
.fa-step-forward:hover,
.fa-random:hover  {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.fa-step-backward:active,
.fa-play:active,
.fa-step-forward:active,
.fa-random:active{
  opacity: 1;
  color: rgb(30, 215, 96);
}

.RandomButton {
  margin-left: 40px;
}

.CurrentSong {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80px;
}

.CurrentSongInfo {
  font-family: 'Permanent Marker', cursive;
  margin: 4px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CurrentSongPic {

>>>>>>> dev
}
