body {
  /*background-color: rgb(230, 230, 230);*/
  background-color: #171717;
}

.Menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  height: 60px;
  color: white;
  font-family: 'Permanent Marker', cursive;
  padding-left: 40px;
  padding-right: 40px;
  cursor: default;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.Login {
  align-items: flex-start;
  color: white;
  cursor: pointer;
  font-size: 18pt;
  text-decoration: none;
}

.Login:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.Login:active {
  opacity: 1;
  color: rgb(30, 215, 96);
}

.Playlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Song {
  background-color: black;
  background-size: cover;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 2px;
  margin-right: 2px;
  /*border: 2px solid rgb(230, 230, 230);*/
  border: 3px solid #171717;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  cursor: default;
}

.Song:hover {
  border: 3px solid rgb(30, 215, 96);
}

.Song__container {
  background-color: rgba(0, 0, 0, 0.60);
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
  color: rgb(230, 230, 230);
  padding: 5px;
}

.Song__info {
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Song__name,
.Song__artist {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Song__ranking {
  color: rgb(230, 230, 230);
  font-size: 24px;
  min-width: 42px;
  padding-right: 10px;
}

.Song__expand {
  padding-left: 10px;
}

.Song__expand:hover {
  opacity: 0.75;
  cursor: pointer;
}

.SongHover {
  display: flex;
  color: rgb(230, 230, 230);
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.SongHover:hover {
  background-color: rgba(0,0,0,0.30);
  opacity: 1;
}

.SongHover__play-button:hover {
  opacity: 0.75;
}
